@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import 'grid.less';
@import 'lesshat.less';



@column-width: 80;
@gutter_width: 0;
@columns: 12;

@total-width: 100%;

body {
   font-family: 'Open Sans';
   
   font-weight: 300;
} 

img {
  height: auto;
  vertical-align:middle;
  border: 0;
}

.center {
  width: 80%;
  margin: 0 auto;
  *zoom: 1;
  float: none;
  display:block;
}

.contentContainerImage {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
  
  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  .border-radius(4px);
  .box-shadow(0 1px 3px rgba(0,0,0, 0.055););
  .transition(all 0.2s ease-in-out);
  
  > img {
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  
  &:before, &:after {
    display: table;
    line-height: 0;
    content: "";  
  }
  
  &:after {
     clear: both;
  }
}

.experimentTitle {
 
}

.articleContainer {
  .row(12);
  
  .articleMeta{
    .column(3);
  }
  .articleContent{
    .column(9);
    max-width: 720px;
  }
}



@media screen and (max-width: 960px) {
  .articleContainer {
    
    
    .articleMeta{
      .column(12);
    }
    .articleContent{
      .column(12);
      
    }
  }  
}

.articlePreviewList {
  .center;
  max-width: 960px;
  .articlePreviewContainer {
    .row(12);
    .previewThumbnail {
      .column(2);
          
    }
    .previewParagraphWImage {
      .column(10);
    }
    
    .previewPragraph {
      .column(12);
    }
  }
}


@media screen and (max-width: 480px) {
  .articlePreviewList {
  
    .articlePreviewContainer {
     
      .previewThumbnail {
        .column(12);
            
      }
      .previewParagraphWImage {
        .column(12);
      }
      
      .previewPragraph {
        .column(12);
      }
    }
  }
}

.heroUnit {
  width: 80%;
  height: 0;
  padding-bottom: 30%;
  border: 1px solid;
  .center;
}

.stickyCommentBox {

}

.stickyCommentBox.stuck {
  position:fixed;
  top:0;
}

.commentContainer {
  .row(12);
  border: 1px solid #ddd;
  
  .commentMeta{
    .column(3);
    
  }
  .commentContent{
    .column(9);
    border-left: 1px solid #ddd;
    max-width: 720px;
  }
}

@media screen and (max-width: 960px) {
  .commentContainer {
    border: 0px;
    
    .commentMeta{
      .column(12);
      border: 1px solid #ddd;
    }
    .commentContent{
      .column(12);
      border: 1px solid #ddd;
      
    }
  }  
}

.commentFlowerContainer {
  border: 0px;
  width: 25%;
  min-width: 320px;
  display: block;
  
  .commentFlowerMeta{
    .column(12);
    border: 1px solid #ddd;
  }
  .commentFlowerContent{
    .column(12);
    border: 1px solid #ddd;
    
  }
}

.gardenPlot {
  .center;
}

footer {
  
}
//Style for header.
.linkstyle() {
    margin-left:15px;
    text-transform:uppercase;
    text-shadow:1px 1px 1px #000;
}

.header {
  .row(12);
  height: 150px;
  .motto {
    .column(3);
    text-align: right;
    font-size: 150px;
    line-height: 150px;
    display: inline;
    font-family: 'Inconsolata', sans-serif;
  }
  .navbarContainer {
    .column(9);
    nav {
      .row(9);
      height: 30px;
      ul {
        list-style-type:none;
        margin:0;
        padding:0;
        width: 100%;
        a {
            text-decoration: none;
            outline: none;
          }
        li {
          display: inline;
          float: left;
          width: 170px;
          height: 40px;
          position: relative;
          a {
            position:absolute;
            top: 0px;
            left: 0px;
            width: 170px;
            height: 85px;
            z-index:12;
            background:transparent no-repeat bottom right;
            .box-shadow(2px 2px 6px #000 inset);
            img {
              border:none;
              position:absolute;
              width:0px;
              height:0px;
              bottom:0px;
              left:85px;
              z-index:100;
              .box-shadow(0px 0px 4px #000);
            }
          }
          
          span.nav-wrapper {
            position: absolute;
            top:25px;
            left:0px;
            width:170px;
            height:60px;
            z-index:15;
          }
          
          span.nav-active{
            position:absolute;
            background:#111;
            top:85px;
            width:170px;
            height:0px;
            left:0px;
            z-index:14;
            .box-shadow(0px 0px 4px #000 inset);
          }
          
          span {
            span.link,
            span.descr {
              .linkstyle();
            }
            span.nav-link {
              color:#fff;
              font-size:24px;
              float:left;
              clear:both;
            }
            
            span.nav-descr{
              color:#0B75AF;
              float:left;
              clear:both;
              width:155px;
              font-size:10px;
              letter-spacing:1px;
            }
            
          }
          div.nav-box{
            display:block;
            position:absolute;
            width:170px;;
            overflow:hidden;
            height:170px;
            top:85px;
            left:0px;
            display:none;
            background:#000; 
            a{
             .linkstyle();
             float:left;
             clear:both;
             line-height:30px;
             color:#0B75AF;
             &:first-child{
               margin-top:15px;
             }
             &:hover {
               color:#fff;
             }
           }
          }
        } 
      }
    }
    
    .leaderboard {
      .row(9);
      height: 90px;
    }
    
    .words {
      .row(9);
      height: 30px;
    }
  }
}
