body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.center {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  float: none;
  display: block;
}
.experimentTitle {
  margin-left: 42.708333333333336%;
}
.articleContainer {
  display: block;
  width: 102.08333333333333%;
  margin: 0 -1.0416666666666665%;
  *zoom: 1;
}
.articleContainer:before,
.articleContainer:after {
  content: "";
  display: table;
}
.articleContainer:after {
  clear: both;
}
.articleContainer .articleMeta {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
}
.articleContainer .articleContent {
  display: inline;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
}
