@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
img {
  height: auto;
  vertical-align: middle;
  border: 0;
}
.center {
  width: 80%;
  margin: 0 auto;
  *zoom: 1;
  float: none;
  display: block;
}
.contentContainerImage {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  color: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.contentContainerImage > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.contentContainerImage:before,
.contentContainerImage:after {
  display: table;
  line-height: 0;
  content: "";
}
.contentContainerImage:after {
  clear: both;
}
.articleContainer {
  display: block;
  width: 102.08333333333333%;
  margin: 0 -1.0416666666666665%;
  *zoom: 1;
}
.articleContainer:before,
.articleContainer:after {
  content: "";
  display: table;
}
.articleContainer:after {
  clear: both;
}
.articleContainer .articleMeta {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
}
.articleContainer .articleContent {
  display: inline;
  float: left;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  max-width: 720px;
}
@media screen and (max-width: 960px) {
  .articleContainer .articleMeta {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
  }
  .articleContainer .articleContent {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
  }
}
.stickyCommentBox.stuck {
  position: fixed;
  top: 0;
}
