{% extends 'base.html' %}
{% load mptt_tags %}
{% load staticfiles %}
{% block head %}
	<script src="{%	static 'popcorn/js/popcorn-complete.min.js' %}"></script>
	<script type="text/javascript">    // ensure the web page (DOM) has loaded
	      $(document).ready(function () {
	{% recursetree nodes %}
		{% if node.isTypeTimelike %}
		         var time{{ Timelike.id }} = Popcorn.youtube(
	           ".node{{ node.id }}video{{ node.content_object.id }}",
	           "{{ node.content_object.linkSource }}" );
	    {%  endif %}{% if not node.is_leaf_node %}{{ children }}{% endif %}  
	{% endrecursetree %}
		      });
	    </script>
{% endblock %}
{% block content %}
    {% recursetree nodes %}
		{% if node.is_root_node %}
		<div class="experimentTitle"><h1>{{ node.title }}</h1></div>
			{% if not node.is_leaf_node %}
				{{ children }}
			{% endif %}
		{% endif %}
			{% if node.isTypeNone and node.isPublished == True and not node.is_root_node %}
				<div class='articleCont'>
					<div class='articleMeta'>
						<h5>{{node.pubDate|date}}</h5>
						<h5>{{node.title}}</h5>
						{% if node.author %}
						<h5>{{node.author.name}}</h5>
						{% endif %}
					</div>
					
						{% if not node.is_leaf_node %}
							<div class='articleContent'>
	        				{{ children }}
	        				</div>
	        			{% endif %}
	        		
	        	</div>		
	    	{% elif node.isTypeParagraph and node.isPublished == True and not node.is_root_node %}       
	        	   <p>This is a Paragraph.
	        	   {{ node.content_object.text }}</p>
	    	{% elif node.isTypeImage and node.isPublished == True and not node.is_root_node %}
	    		<p>This is an Image.</p>
	    		{% if node.content_object.isLinkSource and node.isPublished == True %}
	    			<p>This is from a link.</p>
	    		{% elif node.content_object.isLocalSource and node.isPublished == True %}
	    			<p>This is local.</p> <img src={{ node.content_object.localSource.url }} alt="" /> 
	    		{% endif %}
	    	{% elif node.isTypeTimelike and node.isPublished == True and not node.is_root_node %}   
	    		<p>This is a Timelike.</p>
	    		{% if not node.content_object.isLinkSource and node.isPublished == True and not node.is_root_node %}
	    			<p>This is from a link.</p> <div class="node{{ node.id }}video{{ node.content_object.id }}"  style="width: 360px; height: 300px;" ></div>
	    		{% elif node.content_object.isLocalSource and node.isPublished == True and not node.is_root_node %}
	    			<p>This is local.</p>
	    		{% endif %}
	    	{% endif %} 


    {% endrecursetree %}
{% endblock %}
