{% extends 'base.html' %}
{% load mptt_tags %}

{% block title %}
 Homepage
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

	{% for StructureNode in top_article_list %}
		{% if forloop.counter == 1 %}
			<div class="heroUnit">
		{% endif %}
		{% if forloop.counter < 6 %}			
			<div class="heroUnitElement{{forloop.counter}}">{{ StructureNode.title }}</div>	
		{% endif %}
		{% if forloop.counter == 5 %}
			</div>
		{% endif %}
	{% endfor %}
	<div class="articlePreviewList">
	{% for StructureNode in top_article_list %}		
		
		{% if forloop.counter >= 6 %}
			<h2>{{ StructureNode.title }}</h2>
			<p>{{ StructureNode.pubDate|date }}</p>
			<div class="articlePreviewContainer">
				{% if StructureNode.getNearestAbstractImage %}<div class="previewThumbnail"><div class="contentContainerImage"><img src={{ StructureNode.getNearestAbstractImage.localSource.url }} alt="" /></div></div>
				<div class="previewParagraphWImage">{{ StructureNode.getNearestAbstractParagraph }}</div>
				{% else %}<div class="previewParagraph">{{ StructureNode.getNearestAbstractParagraph }}</div>{% endif %}
			</div>
		{% endif %}
		
	{% endfor %}
	</div>	
{% endblock %}