<li>
			        <a href="#">
			            <img src="images/1.jpg" alt=""/>
			            <span class="nav-active"></span>
			            <span class="nav-wrapper">
			                <span class="nav-link">Portfolio</span>
			                <span class="nav-descr">My work</span>
			            </span>
			        </a>
			        <div class="nav-box">
			            <a href="#">Websites</a>
			            <a href="#">Illustrations</a>
			            <a href="#">Photography</a>
			        </div>
			    </li>
			    <li>
			        <a href="#">
			            <img src="images/1.jpg" alt=""/>
			            <span class="nav-active"></span>
			            <span class="nav-wrapper">
			                <span class="nav-link">Portfolio</span>
			                <span class="nav-descr">My work</span>
			            </span>
			        </a>
			        <div class="nav-box">
			            <a href="#">Websites</a>
			            <a href="#">Illustrations</a>
			            <a href="#">Photography</a>
			        </div>
			    </li>