<li>
			        <a href="#">
			            <img src="images/1.jpg" alt=""/>
			            <span class="nav-active"></span>
			            <span class="nav-wrapper">
			                <span class="nav-link">Portfolio</span>
			                <span class="nav-descr">My work</span>
			            </span>
			        </a>
			        <div class="nav-box">
			            <a href="#">Websites</a>
			            <a href="#">Illustrations</a>
			            <a href="#">Photography</a>
			        </div>
			    </li>
			    <li>
			        <a href="#">
			            <img src="images/1.jpg" alt=""/>
			            <span class="nav-active"></span>
			            <span class="nav-wrapper">
			                <span class="nav-link">Portfolio</span>
			                <span class="nav-descr">My work</span>
			            </span>
			        </a>
			        <div class="nav-box">
			            <a href="#">Websites</a>
			            <a href="#">Illustrations</a>
			            <a href="#">Photography</a>
			        </div>
			    </li>
			    
	 			if( sideHeight < $(".{{ node.slug }}CommentContainer").height() + $(".{{ node.slug }}CommentContainer").position().top ) {sideHeight = $(".{{ node.slug }}CommentContainer").height() + $(".{{ node.slug }}CommentContainer").position().top;}
	 			$(".{{ node.slug }}CommentContainer").click(function(){
	 				if($(".{{ node.slug }}CommentContainer").hasClass('showing'))
	 				{
	 					
	 				}
	 				else
	 				{
	 					
	 				}
	 			});
	 			
		{% recursetree nodes %}	{% if node.isTypeTimelike %}var timeNode{{ node.id }}video{{ node.object_id }} = Popcorn.youtube(".node{{ node.id }}video{{ node.object_id }}", "{{ node.content_object.linkSource }}" );{% endif %}
		    {% if not node.is_leaf_node %}{{ children }}{% endif %}  
		    {% endrecursetree %}
		    
		    {% recursetree nodes %}	
		    {% if node.mptt_level == 2 %}var position{{ node.slug }} =  $(".{{ node.slug }}").position().top + $(".{{ node.slug }}").closest('.articleContainer').position().top;
		    
		    position{{ node.slug }} = position{{ node.slug }}-10;
		 			$(".{{ node.slug }}CommentContainer").css({
		 				"position": "relative", 
		 				"top": position{{ node.slug }} + "px",
		 			}).hide();
		 			$("#{{ node.slug }}CommentButton").click(function(){
		 				if($(".{{ node.slug }}CommentContainer").hasClass('showing'))
		 				{
		 					$(".{{ node.slug }}CommentContainer").hide().removeClass('showing');
		 					$(".sideContainer").height(1);
		 				}
		 				else
		 				{
		 					$(".showing").hide().removeClass("showing");
		 					$(".{{ node.slug }}CommentContainer").show().addClass("showing");
		 					sideHeight = $(".{{ node.slug }}CommentContainer").height() + $(".{{ node.slug }}CommentContainer").position().top;
		 					$(".sideContainer").height(sideHeight);
		 				}
		 			});
		 			 {% endif %}{% if not node.is_leaf_node %}{{ children }}{% endif %}  
		{% endrecursetree %}
		$(".sideContainer").height(sideHeight);
	});
	
	
	function positionNewSectionButton(){
		var newTop = $(".sectionSubmission").last().position().top;
		$("#addNewSection").css({
			"position": "relative",
			"top": newTop + "px",
		});
	}
	
	function positionPublishFormHelperMenu(){
		var newTop = $focusedEmptyContainer.position().top-80
		$(".publishFormHelperMenu").css({
				"position":"relative",
				"top": newTop + "px",
				});
	}