<div class='header'>
	<div class='motto'>
		  _S
	</div>
	<div class='navbarContainer'>
		<div class='leaderboard'>
			
		</div>
		<div class='words'>
			cience
		</div>	
		<nav>
			<div class="navcontainer">
				<ul>
					<li><a href='{% url "home" %}'>Home</a></li>  
			        <li><a href='{% url "subject" "physics" %}'>Physics</a></li>  
			        <li><a href='{% url "subject" "chemistry" %}'>Chemistry</a></li>  
			        <li><a href='{% url "subject" "biology" %}'>Biology</a></li>  
			        <li><a href='{% url "comment" %}'>Forum</a></li> 
				</ul>
			</div>
		</nav>
		
	</div>
</div>