<div class='header'>
	<div class='motto'>
		  _S
	</div>
	<div class='navbarContainer'>
		<div class='leaderboard'>
			
		</div>
		<div class='words'>
			cience
		</div>	
		<nav>
			<div class="navcontainer">
				<ul>
					<li><a href={% url "home" %}>Home</a></li>  
			        <li><a href="#">Physics</a></li>  
			        <li><a href="#">Chemistry</a></li>  
			        <li><a href="#">Biology</a></li>  
			        <li><a href="#">Forum</a></li> 
				</ul>
			</div>
		</nav>
		
	</div>
</div>