{% extends 'base.html' %}
{% load mptt_tags %}
{% load staticfiles %}

{% block title %}
{{ user.username }} | Labbook
{% endblock %}

{% block head %}
<script src="{%	static 'popcorn/js/popcorn-complete.min.js' %}"></script>
<script>
$(window).load(function () {
	{% for StructureNode in labbook_list %}
		{% if StructureNode.isTypeTimelike %}
			var timenode{{ StructureNode.id }}video{{ StructureNode.content_object.id }} = Popcorn.youtube(
	           ".node{{ StructureNode.id }}video{{ StructureNode.content_object.id }}",
	           "{{ StructureNode.content_object.linkSource }}" );
		{% endif %}
	{% endfor %}
	});
</script>
{% endblock %}

{% block content %}
	<div class="submission">
		<div class="submitLabel">
			<h3>Submit:</h3>
		</div>	
		<div class="submissionBulk">
			<div class="submissionMenu">	
				<button type="button" class="btn btn-text" id="text-submit">Text</button>
				<button type="button" class="btn btn-picture" id="photo-submit">Photo</button>
				<button type="button" class="btn btn-timelike" id="video-submit">Video</button>
				<button type="button" class="btn btn-data"id="data-submit">Data</button>
			</div>				
			<div class="submissionForms">
				<div class="textFormView">
					<form id="textForm" action"" method="post" class="form-group">
						{% csrf_token %}{{ textForm.non_field.errors }}
						<div class="titleSubmission">
							{{ textForm.textFormTitle.errors }}
							<div class="titleInputContainer">
								{{ textForm.textFormTitle }}
							</div>
						</div>
						<div class="textSubmission">
							{{ textForm.textFormText.errors }}
							<div class="textInputContainer">
								{{ textForm.textFormText }}
							</div>
						</div>
						<div class="tagSubmission">
							{{ textForm.textFormTag.errors }}
							
								
							
							<div class="tagInputContainer">
								<div class="input-prepend">
									<span class="add-on"><i class="icon-tags"></i></span>
									{{ textForm.textFormTag }}
								</div>
							</div>
						</div>
						<div class="hiddenFields">
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
						<button id="textFormClose" class="btn btn-default pull-right">Close</button>
					</form>
				</div>
				<div class="imageFormView">
				
				</div>
				<div class="timelikeFormView">
				
				</div>
				<div class="dataFormView">
				
				</div>
			</div>
		</div>
	</div>
			
	{% for StructureNode in labbook_list %}
		<div class="postContainer">
			<div class="postMeta">
				{% ifchanged StructureNode.pubDate.date %} <h5>{{ StructureNode.pubDate|date }}</h5> {% endifchanged %}
				<h5>{{ StructureNode.pubDate|time }}</h5>
			</div>
			
			<div class="postContent">
				{% if StructureNode.isTypeParagraph %}
				<p>This is a Paragraph.
	        	   {{ StructureNode.content_object.text }}</p>
				{% elif StructureNode.isTypeImage %}
					{% if StructureNode.content_object.isLinkSource %}
		    			<p>This is from a link.</p>
		    		{% elif StructureNode.content_object.isLocalSource  %}
		    			<p>This is local.</p> <div class='contentContainerImage {{ StructureNode.slug }}'><img src={{ StructureNode.content_object.localSource.url }} alt="" /></div> 
		    		{% endif %}
				{% elif StructureNode.isTypeTimelike %}					 
		    		<p>This is a Timelike.</p>
		    		{% if not StructureNode.content_object.isLinkSource%}
		    			<p>This is from a link.</p> <div class="node{{ StructureNode.id }}video{{ StructureNode.content_object.id }}"  style="width: 360px; height: 300px;" ></div>
		    		{% elif StructureNode.content_object.isLocalSource %}
		    			<p>This is local.</p>
		    		{% endif %}	
				{% endif %}
			</div>	
		</div>	
	{% endfor %}
{% endblock %}

